<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<div>
    <h3 th:utext="${card.family}">...</h3>
    <h3 th:utext="${card.name}">...</h3>
    <img th:src="${card.imgUrl}" alt="card image">
    <p th:utext="${card.description}">...</p>
    <p th:text="'Affinity: '+${card.affinity}">...</p>
    <p th:text="'HP: '+${card.hp}">...</p>
    <p th:text="'Energy: '+${card.energy}">...</p>
    <p th:text="'Attack: '+${card.attack}">...</p>
    <p th:text="'Defence: '+${card.defence}">...</p>

</div>
</body>
</html>
