<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>New Card</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<form th:action="@{/addCard}"
      th:object="${newCardForm}" method="POST">
    <fieldset >
        <legend >Add new Card</legend>
        <div >
            <label for="form-name">Name</label>
            <div >
                <input id="form-name" type="text"
                       placeholder="Name" th:field="*{name}">
            </div>
        </div>
        <div >
            <label  for="form-description">Color</label>
            <div >
                <input  id="form-description" type="text"
                        placeholder="Description" th:field="*{description}">
            </div>
            <label  for="form-imgUrl">Power</label>
            <div >
                <input id="form-imgUrl" type="text"
                       placeholder="Image URL" th:field="*{imgUrl}">
            </div>
            <label  for="form-family">Image URL</label>
            <div >
                <input  id="form-family" type="text"
                        placeholder="Family" th:field="*{family}">
            </div>
            <div >
                <input  id="form-affinity" type="text"
                        placeholder="affinity" th:field="*{affinity}">
            </div>
            <div >
                <input  id="form-hp" type="text"
                        placeholder="hp" th:field="*{hp}">
            </div>
            <div >
                <input  id="form-energy" type="text"
                        placeholder="energy" th:field="*{energy}">
            </div>
            <div >
                <input  id="form-attack" type="text"
                        placeholder="attack" th:field="*{attack}">
            </div>
            <div >
                <input  id="form-defence" type="text"
                        placeholder="defence" th:field="*{defence}">
            </div>
        </div>
        <div >
            <input type="submit"  class="uk-button uk-button-default" value="Create" />
        </div>

    </fieldset>
</form>

</body>

</html>
