<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Card</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<form th:action="@{/auth}"
      th:object="${authDTO}" method="POST">
    <fieldset>
        <legend>Connection</legend>
        <div>
            <label for="form-name">Surname</label>
            <div>
                <input id="form-name" type="text"
                       placeholder="surname" th:field="*{surname}">
            </div>
        </div>
        <div>
            <label for="form-password">Password</label>
            <div>
                <input id="form-password" type="text"
                       placeholder="password" th:field="*{password}">
            </div>
        </div>


    </fieldset>

    <div>
        <button type="submit">Connection</button>
    </div>

</form>
<form th:action="@{/register}"
      th:object="${authDTO}" method="POST">
    <fieldset>
        <legend>Register</legend>
        <div>
            <label for="formregister-name">Surname</label>
            <div>
                <input id="formregister-name" type="text"
                       placeholder="surname" th:field="*{surname}">
            </div>
        </div>
        <div>
            <label for="formregister-password">Password</label>
            <div>
                <input id="formregister-password" type="text"
                       placeholder="password" th:field="*{password}">
            </div>
        </div>


    </fieldset>

    <div>
        <button type="submit">Register</button>
    </div>

</form>
</body>

</html>
